<%- include ('./partials/header') %>


<!-- MAIN
   ================================================== -->
<div class="container">
    <section id="main">
        <img src="/images/read-more/team_sweden.jpg">
        <p class="ml-3">Photo: Tim Varney</p>

        <p class="ml-3">This year our judges have been paying particular attention to the following qualities in the
            teams:</p>
        <p class="ml-3">The ability to create well tasting beverages
            The ability to present themselves, their product and their ideas to others
            The professionalism with which they conduct themselves &#8211; in a professional setting and under
            stress
            <br>The efficiency with which they are able to get the job done
        </p>
        <p class="ml-3">It has been very clear to the judges, and to everyone else I&#8217;m sure, that these 5 teams, these 20
            Nordic Baristas, have gone to great lengths to do well in these disciplines, which are disciplines required
            in every aspect of quality coffee, as well as in so many other things.</p>
        <p class="ml-3">All teams have showed the skills necessary to produce excellent beverages. All teams have presented
            themselves as rolemodels for the coffee community. All teams have showed outstanding communicative skills
            and efficient craftmanship, reflecting the fact that they are indeed, true professionals in their craft.</p>
        <p class="ml-3">The Nordic Barista Cup 2011 winning team have proven themselves to excel in all the before mentioned
            disciplines. Yes, they are the winners by score, but while achieving this, they have also managed to display
            the highest standards of additional qualities, such as welcoming and overcoming change &#8211; the quality
            of adaption if you will. The ability to step up and truck through, even though the bout seems impossible to
            win &#8211; the quality of persistence. And, true as it is for all of the teams, the winning team has also
            shown sportsmanship, respectfulness, a sound and positive sense of humility as well as an undeniable display
            of inclusive, rather than ecsclusive, mindset.</p>
        <p class="ml-3">We are exceedingly pleased to announce that the winner of the Nordic Barista Cup 2011 is&#8230; <strong>TEAM SWEDEN.</strong></p>
        <!---- facebook like button-->
        <br><div class="fb-like ml-3" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
        data-layout="box_count" data-action="like" data-size="small"></div>
        <!---- facebook like button-->
        <p class="ml-3">This site uses Akismet to reduce spam. Learn how your comment data is processed.    
            
        </section>
</div>


<%- include ('./partials/footer') %>