<%- include ('./partials/header') %>

<!-- HERO
    ================================================== -->
<div class="container">
    <header>
    </header>
</div>

<!-- MISSION
   ================================================== -->
<div class="container">
    <section id="mission">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1>“To create an environment in which knowledge about coffee and its sphere can be obtained”</h1>
            </div><!-- col -->
            <div class="col-xs-12 col-md-4 social-icon">
                <ul>
                    <li>
                        <a href="#"><img src="/images/icons/twitter.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/images/icons/facebook.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/images/icons/spotify.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/images/icons/flame.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/images/icons/mail.png" alt=""></a>
                    </li>
                </ul>

            </div>
        </div>
    </section>
</div>

<!-- MAIN
   ================================================== -->
<div class="container">
    <section id="main">
        <div class="row">
            <div class="col-xs-12 col-md-9 wrap-article">

                <div class="row article">
                    <div class="col-md-3">
                        <img src="/images/list_images/wonderful_copenhagen.png" alt="">
                    </div>
                    <div class="col-md-9 article-text">
                        <h1>Wonderful Copenhagen 2011</h1>
                        <p class="date">Posted: 23/1-2011</p>
                        <p class="text">
                            The aim is to understand the science behind our sensory perceptions. And by stimulating the
                            senses we will improve our tasting skills.
                            Therefore the program will be a mix of aroma sessions, basic taste theory...
                        </p>
                        <p><a class="btn btn-primary btn-sm" href="/wonderful-copenhagen" role="button">Read more</a>
                        </p>
                    </div>
                </div>
                <div class="row article">
                    <div class="col-md-3">
                        <img src="/images/list_images/barista_copenhagen.png" alt="">
                    </div>
                    <div class="col-md-9 article-text">
                        <h1>Nordic Barista Cup 2011 in Copenhagen</h1>
                        <p class="date">Posted: 22/1-2011</p>
                        <p class="text">
                            Nordic Barista Cup 2011 will be held in Copenhagen, Denmark.
                            Dates: 25th - 27th August 2011. The theme for the 2011 seminar is: SENSORY. More information
                            will follow on this page....
                        </p>
                        <p><a class="btn btn-primary btn-sm" href="/barista-cup" role="button">Read more</a></p>
                    </div>
                </div>
                <div class="row article">
                    <div class="col-md-3">
                        <img src="/images/list_images/sweden_2010.png"" alt="">
                    </div>
                    <div class=" col-md-9 article-text">
                        <h1>2010 Winners: Sweden</h1>
                        <p class="date">Posted: 12/1-2011</p>
                        <p class="text">
                            Oh my goodness, the final night is here! We are at the most incredible location in all of
                            Oslo—well,
                            at least that is what I think, since I havent seen much of anything else around here. ...
                        </p>
                        <p><a class="btn btn-primary btn-sm" href="/sweden-2010" role="button">Read more</a></p>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-3 aside">
                <div class="content">
                    <h1>NBC Shop</h1>
                    <p>Your shopping cart is empty<br>
                        <a href="#">Visit the shop</a></p>
                </div>
                <div class="content">
                    <h1>Next Event</h1>
                    <p>NORDIC BARISTA CUP 2011<br>
                        Copenhagen, Denmark<br>
                        Dates : 25th - 27th August 2011<br>
                        Theme : SENSORY<br>
                        <a href="#">Sign up now</a></p>
                </div>
                <div class="content">
                    <h1>Scoreboard</h1>
                    <p>List of winners from past years<br></p>
                    <ul>
                        <li>2011 - ?</li>
                        <li>2010 - Sweden</li>
                        <li>2009 - Denmark</li>
                        <li>2007 - Sweden</li>
                        <li>2006 - Norway</li>
                        <li>2005 - Norway</li>
                        <li>2004 - Denmark</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- PAGINATION
   ================================================== -->
<div class="container">
    <div class="card-body">
        Pages: <a href="/page-1" class="btn btn-light btn-sm">1</a>
        <a href="/page-2" class="btn btn-light btn-sm">2</a>
        <a href="/page-3" class="btn btn-light btn-sm">3</a>
    </div>
</div>

<!-- SPONSORS
   ================================================== -->
<div class="container">
    <section id="sponsors">
        <div class="row">
            <div class="col-md-12">
                <h1>Nordic Barista Cup Sponsors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#"><img src="/images/sponsors/sponsor_1.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_2.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_3.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_4.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_5.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_6.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#"><img src="/images/sponsors/sponsor_7.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_8.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_9.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_10.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_11.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_12.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#"><img src="/images/sponsors/sponsor_13.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_14.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_15.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_16.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_17.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_18.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#"><img src="/images/sponsors/sponsor_19.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_20.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_21.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_22.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_blank1.png" alt=""></a></li>
                    <li><a href="#"><img src="/images/sponsors/sponsor_blank2.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

<script src="../public/scripts/slider.js"></script>

<%- include ('./partials/footer') %>