<%- include ('./partials/header') %>


<!-- MAIN
   ================================================== -->
<div class="container">
    <section id="main">
        <div id="inner">
            <div id="content-sidebar-wrap">
                <div id="content" class="hfeed">
                    <div class="breadcrumb">You are here: <a href="https://nordicbaristacup.com/"><span
                                class="breadcrumb-link-text-wrap" itemprop="name">Home</span></a> <span
                            aria-label="breadcrumb separator">/</span> <a
                            href="https://nordicbaristacup.com/category/2010-live-blog/"><span
                                class="breadcrumb-link-text-wrap" itemprop="name">2010 Live Blog</span></a> <span
                            aria-label="breadcrumb separator">/</span> 2010 Winners: Sweden</div>
                    <div
                        class="post-175 post type-post status-publish format-standard has-post-thumbnail hentry category-2010-live-blog category-results tag-14 tag-oslo entry">
                        <h1 class="entry-title ml-3">2010 Winners: Sweden</h1>
                        <div class="post-info ml-3"><span class="date published time" title="2010-12-24T22:47:35+01:00">24.
                                December 2010</span> <span class="author vcard">by <span class="fn">NBC
                                    press</span></span>
                            <div class="categories"> <span class="categories">Filed Under: <a
                                        href="https://nordicbaristacup.com/category/2010-live-blog/"
                                        rel="category tag">2010 Live Blog</a>/ <a
                                        href="https://nordicbaristacup.com/category/results/"
                                        rel="category tag">Results</a></span> </div>
                            <div class="post_tags"><span class="tags">Tags: <a
                                        href="https://nordicbaristacup.com/tag/2010/" rel="tag">2010</a>, <a
                                        href="https://nordicbaristacup.com/tag/oslo/" rel="tag">Oslo</a></span></div>
                        </div>
                        <div class="entry-content">
                            <p class="ml-3">Oh my goodness, the final night is here! We are at the most incredible location in all of
                                Oslo—well, at least that is what I think, since I havent seen much of anything else
                                around here. <span id="more-175"></span>No, but seriously, this place is really effing
                                awesome. And the whole Harry Potter theme is in full effect.</p>
                            <p class="ml-3"><strong>NORDIC BARISTA CUP 2010 RESULT</strong></p>
                            <p class="ml-3">Teams could have scored as much as 299 points in the nine challenges with which they were
                                presented.</p>
                            <p class="ml-3">WINNER: TEAM SWEDEN WITH 247.8 POINTS</p>
                            <div id="attachment_178" style="width: 288px" class="wp-caption alignleft ml-3"><a
                                    href="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167.jpg"><img
                                        aria-describedby="caption-attachment-178" class="size-medium wp-image-178"
                                        title="DSC_0167"
                                        src="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-278x185.jpg"
                                        alt="" width="278" height="185"
                                        srcset="https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-278x185.jpg 278w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-148x98.jpg 148w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-31x20.jpg 31w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-38x25.jpg 38w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167-323x215.jpg 323w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0167.jpg 640w"
                                        sizes="(max-width: 278px) 100vw, 278px" /></a>
                                <p id="caption-attachment-178" class="wp-caption-text mt-3">Yay, Team Sweden!</p>
                            </div>
                            <dl>
                                <dt class="ml-3"></dt>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                                <dd> </dd>
                            </dl>

                            <p class="ml-3">#2 TEAM ICELAND WITH 234.4 POINTS</p>
                            <p class="ml-3">#3 TEAM FINLAND WITH 217.5 POINTS</p>
                            <p class="ml-3">#4 TEAM NORWAY WITH 200 POINTS</p>
                            <p class="ml-3">#5 TEAM DENMARK WITH 194.6 POINTS</p>
                            <p class="ml-3">Just so all you people out there in blogland know: we have had some serious difficulties
                                with the internet during this event, but Zachary will be posting the videos soon, and I
                                will be posting more from Day 3 as soon as I get back to Portland on Tuesday (and get
                                some effing bandwidth).</p>
                            <p class="ml-3">Lots of love and holler for Team Sweden!</p>

                            <p class="ml-3"><strong>NORDIC ROASTER 2010 RESULT</strong></p>
                            <div id="attachment_177" style="width: 288px" class="wp-caption alignleft">
                                <strong><strong><a
                                            href="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561.jpg"><img
                                                aria-describedby="caption-attachment-177"
                                                class="size-medium wp-image-177 ml-3" title="DSC_01561"
                                                src="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-278x417.jpg"
                                                alt="" width="278" height="417"
                                                srcset="https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-278x417.jpg 278w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-148x222.jpg 148w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-98x148.jpg 98w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-20x31.jpg 20w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-25x38.jpg 25w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561-143x215.jpg 143w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_01561.jpg 426w"
                                                sizes="(max-width: 278px) 100vw, 278px" /></a></strong></strong>
                                <p id="caption-attachment-177" class="wp-caption-text ml-3">Tim Wendelboe wins the Nordic
                                    Roaster--again!</p>
                            </div>

                            <p class="ml-3"><strong>In first place: Coffee #4, Tim Wendelboe</strong></p>
                            <p class="ml-3"><strong> </strong></p>
                            <p class="ml-3"><strong> </strong></p>
                            <dl></dl>
                            <p><strong> </strong></p>
                            <p class="ml-3">Mr. Tim Wendelboe!!!!! with 41 votes. This coffee was roasted by Tim and also Chris Tok.
                                Cup characteristics include suble sweet somplexity and a smooth, plumy finish.</p>
                            <p class="ml-3"><strong>In second place: Coffee #7, Da Matteo</strong></p>
                            <p class="ml-3">Da Matteo won second place with 24 votes, afforded due to the coffee&#8217;s floral,
                                tea-like and sweet, subtle fruit notes. Cupper Oliver Brown of Mercanta noted a satsuma
                                with blueberry coming through.</p>
                            <p class="ml-3"><strong>In third place: Coffee # 8, Solberg &amp; Hansen</strong></p>
                            <p class="ml-3">Solberg &amp; Hansen steps up to the bar with a score of 21 votes! Sock it to &#8217;em!
                                This coffee was awarded for its bright, stewed plum flavor, and was noted for being bold
                                in the mouth.</p>
                            <p class="ml-3">In 4th place: Coffee #6, Gourmet Coffee (13 votes)</p>
                            <p class="ml-3">In 5th place: Coffee #9, Has Bean</p>
                            <p class="ml-3">In 6th place: Coffee #2, Viva Cafe</p>
                            <p class="ml-3">In 7th as a tie: Coffee #4, Loftsberg Lila &amp; Copa Con Oro</p>
                            <p class="ml-3">In 9th place: Coffee #10, Copenhagen Coffee Roaster</p>
                            <a href="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188.jpg"><img
                                class="alignleft size-medium wp-image-176" title="DSC_0188"
                                src="http://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-278x185.jpg"
                                alt="" width="278" height="185"
                                srcset="https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-278x185.jpg 278w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-148x98.jpg 148w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-31x20.jpg 31w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-38x25.jpg 38w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188-323x215.jpg 323w, https://nordicbaristacup.com/wp-content/uploads/2011/03/DSC_0188.jpg 640w"
                                sizes="(max-width: 278px) 100vw, 278px" /></a>
                            <p class="ml-3 mt-3">Sorry for the shameless, uh,
                                promotion? Not really. But anyway, this is my Hedwig costume, which is surely not even
                                one of tonight&#8217;s most creative&#8230; but hey, my mom and dad are reading this
                                blog&#8230;</p>
                            <p class="ml-3">By the way: we&#8217;re really sorry that the blog hasn&#8217;t been updated more with
                                photos and videos &#8212; they are coming soon! WE&#8217;ve just been having a small
                                (read:huge) problem with bandwidth&#8230; but hey, we survive, and all will be up and
                                reported in the next week. Just stay tuned&#8230;</p>
                                <!---- facebook like button-->
                                <div class="fb-like ml-3 p-50" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
                                data-layout="box_count" data-action="like" data-size="small"></div>
                                <!---- facebook like button-->
                        </div>
                    </div>
    </section>
</div>


<%- include ('./partials/footer') %>