<%- include ('./partials/header') %>


<!-- MAIN
   ================================================== -->
<div class="container">
    <section id="main">
        <div id="content" class="hfeed">
            <div class="breadcrumb">You are here: <a href="https://nordicbaristacup.com/"><span
                        class="breadcrumb-link-text-wrap" itemprop="name">Home</span></a> <span
                    aria-label="breadcrumb separator">/</span> <a
                    href="https://nordicbaristacup.com/category/2011-copenhagen/"><span
                        class="breadcrumb-link-text-wrap" itemprop="name">2011 Copenhagen</span></a>
                <span aria-label="breadcrumb separator">/</span> Wonderful Copenhagen 2011</div>
            <div
                class="post-169 post type-post status-publish format-standard hentry category-2011-copenhagen category-nbc-event tag-12 tag-copenhagen entry">
                <h1 class="entry-title ml-3">Wonderful Copenhagen 2011</h1>
                <div class="post-info"><span class="date published time ml-3" title="2011-04-06T09:43:25+01:00">06.
                        April
                        2011</span> <span class="author vcard">by <span class="fn">NBC press</span></span>
                    <div class="categories"> <span class="categories ml-3">Filed Under: <a
                                href="https://nordicbaristacup.com/category/2011-copenhagen/" rel="category tag">2011
                                Copenhagen</a>/ <a href="https://nordicbaristacup.com/category/nbc-event/"
                                rel="category tag">NBC event</a></span> </div>
                    <div class="post_tags"><span class="tags ml-3">Tags: <a href="#" rel="tag">2011</a>, <a href="#"
                                rel="tag">Copenhagen</a></span></div>
                </div>
                <div class="entry-content">
                    <p><a rel="attachment wp-att-2090" href="#"><img class="wonderful-cph-img"
                                title="The lakes in Copenhagen"
                                src="http://nordicbaristacup.com/wp-content/uploads/2011/04/L1030511_2.jpg" alt=""
                                srcset="https://nordicbaristacup.com/wp-content/uploads/2011/04/L1030511_2.jpg 640w, https://nordicbaristacup.com/wp-content/uploads/2011/04/L1030511_2-148x78.jpg 148w"
                                sizes="(max-width: 576px) 100vw, 576px" width="576" height="304"></a></p>

                    <p class="ml-3">NORDIC BARISTA CUP will be held from 25. – 27. August 2011 in Copenhagen.<br>
                        <strong> </strong>The theme for NBC 2011 is:</p>
                    <p><strong class="ml-3">SENSORY.
                        </strong></p>
                    <p class="ml-3">The aim is to understand the chemistry behind our sensory perceptions and by
                        stimulating the
                        senses we will improve our tasting skills. <span id="more-169"></span>Therefore the program will
                        be a mix of aroma sessions, basic taste theory, sensory tests, and a lot of educational
                        cuppings.<br>
                        The topics for the 3 days are:</p>
                    <p class="ml-3"><strong>Day 1</strong> Theory and Science</p>
                    <p class="ml-3"><strong>Day 2</strong> Coffee Flavor</p>
                    <p class="ml-3"><strong>Day 3</strong> Nordic Taste</p>
                    <p class="ml-3">The 2010 event in Oslo was sold out before start. Therefore you all the chance to
                        purchase the
                        tickets in advance.</p>
                    <p class="ml-3">Get your ticket now…</p>
                    <h1><strong class="signup-text ml-3">SIGN UP FOR 2011 HERE</strong>
                    </h1>
                    <p class="ml-3">Picture: The lakes in Copenhagen.</p>
                    <!---- facebook like button-->
                    <div class="fb-like ml-3 p-50" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
                        data-layout="box_count" data-action="like" data-size="small"></div>
                    <!---- facebook like button-->
                    <p class="ml-3 mt-3">This site uses Akismet to reduce spam. Learn how your comment data is processed.</p>
                </div>
            </div>
        </div>
    </section>
</div>


<%- include ('./partials/footer') %>