@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/HelveticaNeue.ttf');
    font-style: normal;
}

body {
    font-family: 'EB Garamond', serif;
    background-image: url("/images/bg-line.png");
    background-repeat: repeat-y;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    background: #111213;
    text-align: center;
}

.navbar-brand {
    display: inline-block;
    width: 75%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 0.9em;
}

.search-field {
    position: relative;
}

.form-group>.fa {
    vertical-align: middle;
}

.form-group {
    justify-content: flex-end;
    position: relative;
}

.form-group input {
    padding: 0;
    width: 122px;
    border: 20px;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 4px;
    pointer-events: none;
    font-size: 0.7em;
}

/* align glyph */
.left-addon .fa {
    left: 2px;
}

.right-addon .fa {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.form-control {
    font-size: 0.8em;
    border-radius: 15px;
}

.navbar-collapse {
    padding-left: 5px;
}

@media screen and (min-width : 768px) {

    .navbar-brand {
        display: inline-block;
        width: auto;
    }

}

@media screen and (min-width : 1000px) {

    .navbar {
        height: 110px;
        text-align: left;
        padding: 30px 15px 30px 25px;
        position: relative;
    }

    .navbar-nav {
        font-size: 0.8em;
        justify-content: flex-end;
    }

    .search-field {
        width: 100%;
    }

    .search-block {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-block {
        display: block;
        padding-top: 37px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }

}

#mission {
    color: #a3a3a3;
    line-height: 40px;
    background: #111213;
    padding: 30px 20px;
    text-align: center;
}

#mission h1 {
    font-size: 1.2em;
}

.social-icon {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}

.social-icon img {
    width: 45px;
    padding-bottom: 5px;
}

.social-icon ul {
    display: inline;
    margin-left: 0;
    padding-left: 0;
}

.social-icon li {
    list-style: none;
    display: inline;
    background: #313133;
    border-radius: 50%;
    margin-right: 7px;
    padding: 12px 3px;
}

.social-icon li:hover {
    background: #444749;
}

#main {
    background: #fff;
}

#main .row {
    margin-right: 0;
    margin-left: 0;
}

#main img {
    border: 5px solid #e9e9e9;
    width: 100%;
}

.wrap-article {
    padding: 30px 40px;
}

.article {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.article:last-child {
    margin-bottom: 10px;
}

.article .col-md-3 {
    padding-left: 0;
}

.article-text {
    padding: 20px;
}

.article-text h1 {
    font-size: 1.3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-text .btn {
    font-family: 'HelveticaNeue';
    color: #e2e1e1;
    letter-spacing: 1px;
    font-size: 0.7em;
    background: #4f92b4;
    padding: 3px 35px;
    border: 0;
}

.date {
    color: #2c83b0;
    font-size: 0.7em;
    margin-bottom: 6px;
}

.text {
    font-family: 'Georgia';
    font-size: 0.8em;
    margin-bottom: 13px;
}

.aside {
    font-size: 15px;
    padding: 30px 20px;
    background: #ededed;
    text-align: center;

}

.aside a {
    color: #2c83b0;
}

.aside h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.content ul {
    padding-left: 0;
}

.content li {
    list-style: none;
}

.content p {
    font-family: 'Georgia';
    font-size: 0.8em;
    line-height: 20px;
}

.page-link {
    font-size: 0.7em;
    font-weight: bold;
    background: #eeeeee;
    border: 0;
    margin-right: 5px;
    padding: .35rem .7rem;
}

.pagination {
    background: #fff;
    border-radius: 0;
    margin-bottom: 0;
}

.pagination a {
    color: #9a9a9a;
}

.pagination a:hover {
    color: #7c7a7a;
}

.pagination .active {
    color: #fff;
    background: #c1c1c1;
}

#sponsors {
    padding: 35px 35px;
    background: #fff;
    text-align: center;
}

#sponsors h1 {
    font-size: 1.5em;
    padding-bottom: 15px;
}

#sponsors img {
    border: 5px solid #f6f6f6;
    margin-right: 5px;
    width: 134px;
}

#sponsors ul {
    padding-left: 0;
    margin-bottom: 10px;
}

#sponsors li {
    display: inline;
    list-style: none;
}

#footer {
    font-family: 'Georgia';
    font-size: 13px;
    line-height: 22px;
    color: #6f6e6e;
    background: #0f0f0f;
    padding: 25px 25px 40px 25px;
}

#footer a {
    color: #6f6e6e;
}

#footer a:hover {
    color: #a3a3a3;
}

#footer h3 {
    color: #fff;
    font-size: 1.6em;
    padding-bottom: 8px;
}

#footer .social-icon li {
    padding: 16px 3px;
}

#footer .social-icon img {
    width: 41px;
}

.vision {
    color: #a3a3a3;
}

.photo-stream {
    padding: 0 10px;
}

.photo-stream img {
    border: 1px solid #333333;
}

.photo {
    margin: 3px;
}

.shadow {
    display: none;
}

@media screen and (min-width : 768px) {

    #mission {
        font-size: 1.6em;
        text-align: left;
    }

    .article-text {
        padding: 0 0 0 10px;
    }

    .pagination {
        padding: 0 35px;
    }

    .aside {
        text-align: left;
    }

    #sponsors {
        text-align: left;
    }

}

@media screen and (min-width : 960px) {

    .shadow {
        display: block;
        position: relative;
        opacity: 0.5;
    }

    .shadow img {
        position: absolute;
        top: -50px;
    }

}

#more {
    display: none;
}

.btn {
    cursor: pointer;
}

.signup-text {
    color: #2c83af;
}


/* ======== pagination ======== */

.card-body {
    background: white;
}

.text-pagination {
    padding: 20px;
}

.title-pagination {
    padding-top: 20px;
}

/* ======== slider ======== */
header {
    background-image: url(https://source.unsplash.com/random/);
    height: 360px;
    background-size: cover;
}